name: ansible

permissions:
  contents: read

on:
  push:
    branches: [ ansible ]
  workflow_dispatch:

env:
  Dockerfile: Dockerfile-ansible
  REGISTRY_NAME: "${{ secrets.MY_HUB_NAME }}"
  REGISTRY_USER: "${{ secrets.MY_HUB_USER }}"
  REGISTRY_PASS: "${{ secrets.MY_HUB_PASSWORD }}"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Getting arch
      id: tag
      run: |
        echo "trigger by ${{ github.event_name }}"
        echo "sha256 is ${{ github.sha }}"

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Check out repo code
      uses: actions/checkout@v6

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY_NAME }}
        username: ${{ env.REGISTRY_USER }}
        password: ${{ env.REGISTRY_PASS }}

    - name: Docker Buildx (push)
      run: |
        docker buildx build --no-cache \
          --platform linux/amd64 \
          --output "type=image,push=true" \
          --tag ${{ env.REGISTRY_NAME }}/production/captain:v1 \
          --file ./${{ env.Dockerfile }} ./

        docker buildx build --no-cache \
          --platform linux/arm64 \
          --output "type=image,push=true" \
          --tag ${{ env.REGISTRY_NAME }}/arm64v8/captain:v1 \
          --file ./${{ env.Dockerfile }} ./
