name: autoscale
permissions:
  contents: read

on:
  push:
    branches: [ autoscale ]

env:
  GO111MODULE: on 
  PROJECT: autoscaler
  BRANCH: cluster-autoscaler-1.16.6
  Dockerfile: Dockerfile-autoscaler
jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
    - name: Check out repo code
      uses: actions/checkout@v4

    - name: Use data
      uses: ./.github/actions/data
      
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Check out build code
      uses: actions/checkout@v4
      with:
        repository: kubernetes/autoscaler
        ref: ${{ env.BRANCH }}
        path: ${{ env.PROJECT }}

    - name: Cache Docker layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Docker Buildx (push)
      run: |
        docker buildx build \
          --cache-from "type=local,src=/tmp/.buildx-cache" \
          --platform linux/arm64,linux/amd64 \
          --output "type=image,push=true" \
          --tag yylt/${{ env.PROJECT }}:${{ env.BRANCH }}-${{ steps.date.outputs.date }} \
          --file ${{ env.Dockerfile }} ./
