name: backstage
permissions:
  contents: read

on:
  push:
    branches: [ backstage ]

env:
  Dockerfile: Dockerfile-backstage
  PROJECT: backstage
  BRANCH: v1.14.0
  REPO: backstage/backstage

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.5.1

    - name: Check out repo code
      uses: actions/checkout@v6

    - name: Check out build code
      uses: actions/checkout@v6
      with:
        repository: ${{ env.REPO }}
        ref: ${{ env.BRANCH }}
        path: ${{ env.PROJECT }}

    - name: Run install
      uses: borales/actions-yarn@v5
      with:
        cmd: install --frozen-lockfile
        dir: ${{ env.PROJECT }} 

    - name: Run tsc
      uses: borales/actions-yarn@v5
      with:
        cmd: tsc
        dir: ${{ env.PROJECT }} 

    - name: Run tsc
      uses: borales/actions-yarn@v5
      with:
        cmd: build:backend --config app-config.yaml
        dir: ${{ env.PROJECT }} 
        
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Docker Buildx (push)
      run: |
        cd ${{ env.PROJECT }}
        docker buildx build \
          --platform  linux/amd64 \
          --output "type=image,push=true" \
          --tag yylt/backstage:${{ steps.date.outputs.date }} \
          --file ../${{ env.Dockerfile }} ./