name: cni
permissions:
  contents: read

on:
  push:
    branches: [ cni ]
  workflow_dispatch:
    
env:
  PROJECT: kubernetes
  CNI_VERSION: v1.5.0
  Dockerfile: Dockerfile-cni
  REGISTRY_NAME: ghcr.io
  REGISTRY_PASSWORD: ${{ secrets.GHCR_PASSWORD }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: |
        echo "date=$(date +'%Y%m%d%H%M')" >> "$GITHUB_OUTPUT"

    - name: Check out repo code
      uses: actions/checkout@v6

    - name: Check out build code openshift/ib-sriov-cni
      uses: actions/checkout@v6
      with:
        repository: openshift/ib-sriov-cni
        ref: master
        path: ib-sriov-cni

    - name: Check out build code openshift/sriov-cni
      uses: actions/checkout@v6
      with:
        repository: openshift/sriov-cni
        ref: master
        path: sriov-cni

    - name: Check out build code k8snetworkplumbingwg/whereabouts
      uses: actions/checkout@v6
      with:
        repository: k8snetworkplumbingwg/whereabouts
        ref: master
        path: whereabouts

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY_NAME }}
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ env.REGISTRY_PASSWORD }}

    - name: Docker Build/Push Image
      run: |
        docker buildx build \
          --platform linux/arm64,linux/amd64 \
          --build-arg VERSION=${{ env.CNI_VERSION }} \
          --output "type=image,push=true" \
          --tag ${{ env.REGISTRY_NAME }}/yylt/cni:${{ steps.date.outputs.date }} \
          --file ./${{ env.Dockerfile }} ./
