name: envoy
permissions:
  contents: read
on:
  push:
    branches: [ envoy ]


env:
  GO111MODULE: on 
  REPO: envoyproxy/envoy
  PROJECT: envoy
  BRANCH: v1.26.1
  Dockerfile: Dockerfile-envoy

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

    - name: Check out repo code
      uses: actions/checkout@v6

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.5.1

    - name: Check out build code
      uses: actions/checkout@v6
      with:
        repository: ${{ env.REPO }}
        ref: ${{ env.BRANCH }}
        path: ${{ env.PROJECT }}

    - name: Cache Docker layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Binary Build
      run: |
        cd ${{ env.PROJECT }}
        ENVOY_DOCKER_BUILD_DIR=$PWD/build ENVOY_BUILD_ARCH=x86_64 ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release.server_only'
        #ENVOY_DOCKER_BUILD_DIR=$PWD/build ENVOY_BUILD_ARCH=aarch64 ./ci/run_envoy_docker.sh './ci/do_ci.sh bazel.release.server_only'
        tree build

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Docker Buildx (push)
      run: |
        cd ${{ env.PROJECT }}
        docker buildx build \
          --cache-from "type=local,src=/tmp/.buildx-cache" \
          --platform linux/amd64,linux/arm64 \
          --output "type=image,push=false" \
          --tag yylt/envoy:${{ steps.date.outputs.date }} \
          --file ../${{ env.Dockerfile }} ./