name: firecracker 
permissions:
  contents: read

on:
  push:
    branches: [ fc ]

env:
  GO111MODULE: on 
  PROJECT: fc
  BRANCH: main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

    - name: Set up Go 1.16
      uses: actions/setup-go@v6
      with:
        go-version: 1.16.6
      id: go

    - name: Check out repo code
      uses: actions/checkout@v4

    - name: Check out build code
      uses: actions/checkout@v4
      with:
        repository: firecracker-microvm/firecracker-containerd
        ref: ${{ env.BRANCH }}
        path: ${{ env.PROJECT }}

    - name: Build gvisor amd64
      run: |
        cd ${{ env.PROJECT }} 
        make image

    - name: build and push image
      uses: whoan/docker-build-with-cache-action@v5
      with:
        username: "${{ secrets.DOCKER_HUB_USER }}"
        password: "${{ secrets.DOCKER_HUB_PASSWORD }}"
        image_name: firecracker
        image_tag: ${{ env.BRANCH }}-${{ steps.date.outputs.date }}
        dockerfile: Dockerfile-firecracker