name: flannel
permissions:
  contents: read

on:
  workflow_dispatch: 
    inputs:
      branch:
        description: 'flannel tag'
        required: true
        default: 'v0.26.4'
      tag:
        description: 'image tag'
        required: false
        default: ''
env:
  PROJECT: flannel
  BRANCH: v0.26.4
  REGISTRY_NAME: "${{ secrets.MY_HUB_NAME }}"
  REGISTRY_USER: "${{ secrets.MY_HUB_USER }}"
  REGISTRY_PASS: "${{ secrets.MY_HUB_PASSWORD }}"
  Dockerfile: Dockerfile-flannel
  BUILDX_NO_DEFAULT_ATTESTATIONS: 1

jobs:
  build:
    name: Build 
    runs-on: ubuntu-latest
    steps:
    - name: Getting image tag
      id: tag
      run: |
        echo "trigger by ${{ github.event_name }}"
        echo "sha256 is ${{ github.sha }}"

        if ${{ github.event_name == 'workflow_dispatch' }} ; then
            echo "vbranch=${{ github.event.inputs.branch }}"  >> $GITHUB_ENV
            if [ "${{ github.event.inputs.tag }}" != "" ] ; then
                echo "tag=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
            else 
                echo "tag=${{ github.event.inputs.branch }}" >> $GITHUB_ENV
            fi
        else
            echo "vbranch=${{ env.BRANCH }}" >> $GITHUB_ENV
            echo "tag=${{ env.BRANCH }}" >> $GITHUB_ENV
        fi
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup
    - uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY_NAME }}
        username: ${{ env.REGISTRY_USER }}
        password: ${{ env.REGISTRY_PASS }}

    - name: Check out build code
      uses: actions/checkout@v4
      with:
        repository: flannel-io/flannel
        ref: ${{ env.vbranch }}
        path: ${{ env.PROJECT }}

    - name: Docker Buildx (push)
      run: |
        cd ${{ env.PROJECT }}
        docker buildx build \
          --no-cache \
          --provenance false --sbom false \
          --platform linux/amd64 \
          --build-arg VERSION=${{ env.vbranch }} \
          --output "type=image,push=true" \
          --tag ${{ env.REGISTRY_NAME }}/captain/flannel:${{ env.tag }} \
          --tag ${{ env.REGISTRY_NAME }}/production/flannel:${{ env.tag }} \
          --file ../${{ env.Dockerfile }} ./
          
        docker buildx build \
          --no-cache \
          --provenance false --sbom false \
          --platform linux/arm64 \
          --build-arg VERSION=${{ env.vbranch }} \
          --output "type=image,push=true" \
          --tag ${{ env.REGISTRY_NAME }}/arm64v8/flannel:${{ env.tag }} \
          --file ../${{ env.Dockerfile }} ./  
