name: gw-api
permissions:
  contents: read
on:
  push:
    branches: [ gw-api ]


env:
  GO111MODULE: on 
  REPO: yylt/gateway-api
  PROJECT: gw
  BRANCH: err
  Dockerfile: Dockerfile-gw

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

    - name: Check out repo code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - uses: actions/setup-go@v6
      with:
        go-version: '^1.20'

    - name: Check out build code1
      uses: actions/checkout@v4
      with:
        repository: ${{ env.REPO }}
        ref: ${{ env.BRANCH }}
        path: ${{ env.PROJECT }}

    - name: Cache Docker layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Docker Buildx (push)
      run: |
        cd ${{ env.PROJECT }}
        COMMIT=$(git rev-parse --short HEAD)
        TAG=dev
        docker buildx build \
          --cache-from "type=local,src=/tmp/.buildx-cache" \
          --platform linux/amd64,linux/arm64 \
          --output "type=image,push=true" \
          --build-arg "COMMIT=${COMMIT}" \
          --build-arg "TAG=${TAG}" \
          --tag yylt/gateway-api:${{ steps.date.outputs.date }} \
          --file ../${{ env.Dockerfile }} ./

