name: istioproxy
permissions:
  contents: read

on:
  push:
    branches: [ istioproxy ]

env:
  PROJECT: proxy
  BRANCH: add-generic-proxy
  Dockerfile: Dockerfile-istioproxy

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

    - name: Check out repo code
      uses: actions/checkout@v4

    - name: Check out build code
      uses: actions/checkout@v4
      with:
        repository: yefengzhichen/${{ env.PROJECT }}
        ref: ${{ env.BRANCH }}
        path: ${{ env.PROJECT }}

    - uses: actions/setup-go@v6
      name: Set up golang
      with:
        go-version: '^1.21'

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.5.1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Cache Docker layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx

    - name: build istio binary
      run: |
        cd ${{ env.PROJECT }}
        TARGET_ARCH=amd64 TARGET_OUT_LINUX=linux/amd64 TARGET_OS=linux make build_envoy
        TARGET_ARCH=arm64 TARGET_OUT_LINUX=linux/arm64 TARGET_OS=linux make build_envoy
        tree out

    - name: Docker Buildx istio proxy (push)
      run: |
        cd ${{ env.PROJECT }}
        docker buildx build \
          --cache-from "type=local,src=/tmp/.buildx-cache" \
          --platform linux/amd64,linux/arm64 \
          --output "type=image,push=true" \
          --build-arg "VERSION=${{ env.BRANCH }}" \
          --tag yylt/proxyv2g:${{ steps.date.outputs.date }} \
          --file ../${{ env.Dockerfile }} ./out
