name: kata

on:
  push:
    branches: [ kata ]
  workflow_dispatch:
    
permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

env:
  GO111MODULE: on 
  PROJECT: kata-containers
  BRANCH: stable-2.5
  REGISTRY_NAME: "${{ secrets.MY_HUB_NAME }}"
  REGISTRY_USER: "${{ secrets.MY_HUB_USER }}"
  REGISTRY_PASS: "${{ secrets.MY_HUB_PASSWORD }}"

  MLNX_X64_URL: ${{ secrets.MLNX_X64_URL }}  
  NVIDIA_X64_URL: ${{ secrets.NVIDIA_X64_URL }} 

jobs:
  build:
    name: Build
    runs-on: [self-hosted, linux, x64] #${{ matrix.os }}
    # strategy:
    #   matrix:
    #     os: 
    #     - self-hosted
    #     - ubuntu-20.04
    outputs:
      date: ${{ steps.data.outputs.date }}
      x64image: ${{ steps.data.outputs.amd64 }}
      armimage: ${{ steps.data.outputs.arm64 }}
    steps:
    - name: Set Data
      id: data
      shell: bash
      run: |
        set -x
        time=$(date +'%Y%m%d%H%M')
        echo "date=$time" >> "$GITHUB_OUTPUT"
        #echo "date=v6.3.1" >> "$GITHUB_OUTPUT"
        ARCH=$(uname -m)
        if [[ "$ARCH" == "x86_64" ]]; then
          echo "amd64=amd64-ecr-deploy:$time" >> "$GITHUB_OUTPUT"
        else
          echo "arm64=arm64-ecr-deploy:$time" >> "$GITHUB_OUTPUT"
        fi

    - uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.77.2
        override: true

    - name: Set up Go 1.22
      uses: actions/setup-go@v4
      with:
        go-version: 1.22

    - name: Check out repo code
      uses: actions/checkout@v6

    - name: Check out build code
      uses: actions/checkout@v6
      with:
        repository: easystack/kata-containers
        ref: ${{ env.BRANCH }}
        token: ${{ secrets.KPULL }}  
        path: ${{ env.PROJECT }}

    - name: Login to Registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY_NAME }}
        username: ${{ env.REGISTRY_USER }}
        password: ${{ env.REGISTRY_PASS }}

    - name: Build image
      run: |
        cd ${{ env.PROJECT }}

        ARCH=$(uname -m)
        
        make -f ../kata-image/kata-image.mk generate-config 
        make -f ../kata-image/kata-image.mk containerd-shim-v2 ecr-runtime 
        make -f ../kata-image/kata-image.mk build-kernel
        #make -f ../kata-image/kata-image.mk build-image
        if [[ "$ARCH" == "x86_64" ]]; then
          make -f ../kata-image/kata-image.mk agent
          TARGET=mellanox make -f ../kata-image/kata-image.mk target
          mv ../kata-image/mellanox-containers.img ecr_deploy/ecr-containers.img

          TARGET=nvidia make -f ../kata-image/kata-image.mk target
          mv ../kata-image/nvidia-containers.img ecr_deploy/ecr-containers-nvidiaGpu.img

        fi
        make -f ../kata-image/kata-image.mk docker-push
      env:
        REGISTRY_NAME: ${{ env.REGISTRY_NAME }}
        IMAGE_TAG: ${{ steps.data.outputs.date }}
        DEBUG: true

  notify:
    name: notify 
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    needs: [build]

    steps:
    - name: WeChat Work notification
      shell: bash
      env:
        DATE: ${{ needs.build.outputs.date }}
        AMD64: ${{ needs.build.outputs.x64image }}
        ARM64: ${{ needs.build.outputs.armimage }}
        WEBHOOK: ${{ secrets.WEWORK_ECRGROUP_BUILD }}
      run: |
        text="ecr_deploy 编译完成"
        regname=$(echo ${{ env.REGISTRY_NAME }} |awk -F . '{print $1}').io
        text="$text, 仓库: $regname"
        if [[ "$AMD64" != "" ]];then
          text="$text\n$AMD64"
        fi
        if [[ "$ARM64" != "" ]];then
          text="$text\n$ARM64"
        fi
        echo "text: $text"
        data="{\"msgtype\":\"text\",\"text\":{\"content\":\"$text\"}}"
        #curl ${WEBHOOK} -H 'Content-Type: application/json' -d "$data"
