name: linkerd
permissions:
  contents: read
on:
  push:
    branches: [ linkerd ]

env:
  GO111MODULE: on 
  REPO1: yylt/linkerd2
  PROJECT1: linkerd2
  BRANCH1: stable-m2.13
  Dockerfile: Dockerfile-linkerd

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

    - name: Check out repo code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.5.1

    - uses: actions/setup-go@v4
      with:
        go-version: '^1.20'

    - name: Check out build code1
      uses: actions/checkout@v4
      with:
        repository: ${{ env.REPO1 }}
        ref: ${{ env.BRANCH1 }}
        path: ${{ env.PROJECT1 }}

    - name: Cache Docker layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}
    

    - name: Docker Buildx (push)
      run: |
        cd linkerd2
        docker buildx build \
          --cache-from "type=local,src=/tmp/.buildx-cache" \
          --platform linux/amd64 \
          --output "type=image,push=true" \
          --tag yylt/linkerd2:${{ steps.date.outputs.date }} \
          --file ../${{ env.Dockerfile }} ./

