name: nfs
permissions:
  contents: read

on:
  push:
    branches: [ nfs ]

env:
  REPO: sjiveson/nfs-server-alpine
  PROJECT: nfs
  BRANCH: master
  Dockerfile: Dockerfile

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: |
        echo "date=$(date +'%Y%m%d%H%M')" >> "$GITHUB_OUTPUT"

    - name: Check out repo code
      uses: actions/checkout@v6

    - name: Check out build code
      uses: actions/checkout@v6
      with:
        repository: ${{ env.REPO }}
        ref: ${{ env.BRANCH }}
        token: ${{ secrets.KPULL }}  
        path: ${{ env.PROJECT }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Cache Docker layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx
     
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Docker Buildx image (push)
      run: |
        cd ${{ env.PROJECT }}
        #sed -i "s/--no-nfs-version 2 --no-nfs-version 3/\$([ \$(uname -m) == \"x86_64\" ] \&\& echo -n \"--no-nfs-version 2 --no-nfs-version 3\" || echo -n \"\")/g" nfsd.sh
        sed -i 's/--no-nfs-version 2//g' nfsd.sh
        sed -i 's/--no-nfs-version 3//g' nfsd.sh
        docker buildx build \
          --cache-from "type=local,src=/tmp/.buildx-cache" \
          --platform linux/arm64,linux/amd64 \
          --output "type=image,push=true" \
          --tag yylt/nfs-server:latest \
          --tag yylt/nfs-server:${{ steps.date.outputs.date }} \
          --file ./${{ env.Dockerfile }} .
