name: paddle
permissions:
  contents: read


on:
  push:
    branches: [ paddle ]
  workflow_dispatch:

env:
  Dockerfile: Dockerfile-paddle
  # REGISTRY_NAME: "${{ secrets.MY_HUB_NAME }}"
  # REGISTRY_USER: "${{ secrets.MY_HUB_USER }}"
  # REGISTRY_PASS: "${{ secrets.MY_HUB_PASSWORD }}"
  REGISTRY_NAME: "docker.io"
  REGISTRY_USER: "${{ secrets.DOCKER_HUB_USER }}"
  REGISTRY_PASS: "${{ secrets.DOCKER_HUB_PASSWORD }}"

jobs:
  build:
    name: Build 
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup
    - uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY_NAME }}
        username: ${{ env.REGISTRY_USER }}
        password: ${{ env.REGISTRY_PASS }}
    - name: Get current date
      run: |
        echo "DATA=$(date +'%Y%m%d%H%M')" >> "$GITHUB_ENV"

    - name: Docker Buildx (push)
      run: |
        docker buildx build --no-cache \
          --platform linux/amd64 \
          --output "type=image,push=true" \
          --tag ${{ env.REGISTRY_NAME }}/yylt/paddle:${{ env.DATA }} \
          --file ./${{ env.Dockerfile }} ./
