name: sriov
on:
  push:
    branches: [ sriov ]
  pull_request:
    branches: [ sriov ]

env:
  GO111MODULE: on 
  REPO1: k8snetworkplumbingwg/sriov-cni
  PROJECT1: sriov-cni
  BRANCH1: v2.6.3
  REPO2: openshift/ib-sriov-cni
  PROJECT2: ib-sriov-cni
  BRANCH2: master
  Dockerfile: Dockerfile-sriov

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

    - name: Check out repo code
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.5.1

    - name: Check out build code1
      uses: actions/checkout@v2
      with:
        repository: ${{ env.REPO1 }}
        ref: ${{ env.BRANCH1 }}
        path: ${{ env.PROJECT1 }}

    - name: Check out build code2
      uses: actions/checkout@v2
      with:
        repository: ${{ env.REPO2 }}
        ref: ${{ env.BRANCH2 }}
        path: ${{ env.PROJECT2 }}

    - name: Cache Docker layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Docker Buildx (push)
      run: |
        docker buildx build \
          --cache-from "type=local,src=/tmp/.buildx-cache" \
          --platform linux/arm64,linux/amd64 \
          --output "type=image,push=true" \
          --tag yylt/sriov-cni:${{ steps.date.outputs.date }} \
          --file ${{ env.Dockerfile }} ./

