name: tool
permissions:
  contents: read


on:
  push:
    branches: [ tool ]
  workflow_dispatch:
    inputs:
      arm:
        description: 'build&push arm64 image'
        required: false
        default: 'on'
      amd:
        description: 'build&push amd64 image'
        required: false
        default: 'on'

env:
  Dockerfile: Dockerfile-tool
  # REGISTRY_NAME: "${{ secrets.MY_HUB_NAME }}"
  # REGISTRY_USER: "${{ secrets.MY_HUB_USER }}"
  # REGISTRY_PASS: "${{ secrets.MY_HUB_PASSWORD }}"
  REGISTRY_NAME: "docker.io"
  REGISTRY_USER: "${{ secrets.DOCKER_HUB_USER }}"
  REGISTRY_PASS: "${{ secrets.DOCKER_HUB_PASSWORD }}"

jobs:
  build:
    name: Build 
    runs-on: ubuntu-22.04
    steps:
    - name: Get date
      run: |
        echo "date=$(date +'%Y%m%d%H%M')" >> "$GITHUB_ENV"
    - uses: actions/checkout@v6
    - uses: ./.github/actions/setup
    - uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY_NAME }}
        username: ${{ env.REGISTRY_USER }}
        password: ${{ env.REGISTRY_PASS }}

    - name: Docker Buildx (push)
      run: |
        docker buildx build --no-cache \
          --platform linux/amd64,linux/arm64 \
          --output "type=image,push=true" \
          --tag ${{ env.REGISTRY_NAME }}/yylt/tool:${{ env.date }} \
          --tag ${{ env.REGISTRY_NAME }}/yylt/tool:latest \
          --file ./${{ env.Dockerfile }} ./
