name: vllm
permissions:
  contents: read

on:
  push:
    branches: [ vllm ]
  workflow_dispatch:

env:
  Dockerfile: Dockerfile-vllm
  # REGISTRY_NAME: "${{ secrets.MY_HUB_NAME }}"
  # REGISTRY_USER: "${{ secrets.MY_HUB_USER }}"
  # REGISTRY_PASS: "${{ secrets.MY_HUB_PASSWORD }}"
  REGISTRY_NAME: "docker.io"
  REGISTRY_USER: "${{ secrets.DOCKER_HUB_USER }}"
  REGISTRY_PASS: "${{ secrets.DOCKER_HUB_PASSWORD }}"
  PROJECT: vllm
  BRANCH: v0.8.2
jobs:
  build:
    name: Build 
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup
    - uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY_NAME }}
        username: ${{ env.REGISTRY_USER }}
        password: ${{ env.REGISTRY_PASS }}

    - name: Check out build code
      uses: actions/checkout@v4
      with:
        repository: vllm-project/${{ env.PROJECT }}
        ref: ${{ env.BRANCH }}
        path: ${{ env.PROJECT }}

    - name: Docker Buildx (push)
      run: |
        cd ${{ env.PROJECT }}
        docker buildx build --no-cache \
          --build-arg VLLM_CPU_DISABLE_AVX512="true" \
          --platform linux/amd64 \
          --output "type=image,push=true" \
          --tag ${{ env.REGISTRY_NAME }}/yylt/vllm-cpu:${{ env.BRANCH }} \
          --file ../${{ env.Dockerfile }} ./
