name: weixin
permissions:
  contents: read

on:
  push:
    branches: [ weixin ]

env:
  Dockerfile: Dockerfile-weixin

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Check out repo code
      uses: actions/checkout@v6
        
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Docker Buildx (push)
      run: |
        docker buildx build \
          --platform  linux/amd64 \
          --output "type=image,push=true" \
          --tag yylt/weixin:${{ steps.date.outputs.date }} \
          --file ./${{ env.Dockerfile }} ./